body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial;
    background: linear-gradient(to right, pink, purple);
    color: white;
}

.container {
    margin-top: 100px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: red;
    color: white;
    transition: 0.3s;
}

button:hover {
    background: darkred;
    transform: scale(1.1);
}

.photo {
    margin: 20px;
}

.photo img {
    width: 300px;
    border-radius: 15px;
}

.buttons {
    margin-top: 30px;
}

#yesBtn {
    background-color: green;
}

#noBtn {
    background-color: red;
    position: relative;
}